<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Avatar1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{197,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,198}}</string>
        <key>sourceSize</key>
        <string>{197,198}</string>
      </dict>
      <key>Avatar4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,204},{197,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,198}}</string>
        <key>sourceSize</key>
        <string>{197,198}</string>
      </dict>
      <key>Avatar5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,406},{197,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,198}}</string>
        <key>sourceSize</key>
        <string>{197,198}</string>
      </dict>
      <key>Avatar10.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,2},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>Avatar11.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,2},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>Avatar6.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,203},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>Avatar7.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,404},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>Avatar8.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,203},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>Avatar9.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,404},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>AvatarAtlas.png</string>
      <key>size</key>
      <string>{603,606}</string>
      <key>textureFileName</key>
      <string>AvatarAtlas</string>
    </dict>
  </dict>
</plist>
