<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>card_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,240},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,478},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,716},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,954},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1192},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1430},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1668},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,2},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,240},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,478},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,716},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,954},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1192},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1430},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1668},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,2},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,240},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,478},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,716},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,954},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1192},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1430},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1668},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,2},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,240},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,478},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,716},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,954},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,1192},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,1430},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,1668},{168,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,234}}</string>
        <key>sourceSize</key>
        <string>{168,234}</string>
      </dict>
      <key>card_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,2},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,240},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,478},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,716},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,954},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,1192},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,1430},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,1668},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,2},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,240},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,478},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,716},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,954},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,1192},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,1430},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,1668},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,2},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,240},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,478},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
      <key>card_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,716},{167,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,234}}</string>
        <key>sourceSize</key>
        <string>{167,234}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>CardAtlas.png</string>
      <key>size</key>
      <string>{1201,1904}</string>
      <key>textureFileName</key>
      <string>CardAtlas</string>
    </dict>
  </dict>
</plist>
